* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.login-container {
    width: 400px;
    background: white;
    padding: 35px;

    border-radius: 10px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

    text-align: center;
}

.login-container h1 {
    margin-bottom: 10px;
}

.login-container p {
    margin-bottom: 25px;
    color: #666;
}

.login-container form {
    text-align: left;
}

.login-container label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

.login-container input {
    width: 100%;
    padding: 12px;

    margin-bottom: 18px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 15px;
}

.login-container button {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 6px;

    font-size: 16px;
    cursor: pointer;
}

.back-home {
    display: inline-block;
    margin-top: 20px;

    text-decoration: none;
}